h1{
    color: #00ff00;
    border-bottom: #FFCC66 solid 3px;
    width:fit-content;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}

h1, .accent-text {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700; /* Bold cursive headings */
  }

p{
    color: #ffffff;
}

h2{
    color: #00ff00;
    border-bottom: #FFCC66 solid 3px;
    width:fit-content;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}

.h2{
    border-bottom: 3px solid #0048ac; /* Thick orange line */
    padding-bottom: 1px;
}

body{
    background-color: #001E3D;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#connect{
    display: block;
    margin: 0 auto;
    padding: 5%;
    width: fit-content;
    margin-top: 10px;
}

#certs{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

hr{
    border: 1px solid #FFCC66;

}

li{
    color: #ffffff;
}

a:hover {
    color: red;
  }

a{
    color: #FFCC66;
}

a:visited {
    color: #888888
}

#mylogo{
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: #FFCC66 solid 3px;
    border-radius: 80px;
}
#oci{
    padding-top: 20px;
    padding-left: 4.5%;
}

#mckinsey{
    padding-left: 15%;
}

#anthropic{
    padding-left: 7%;
}

.icol{
    padding: 5px;
    border: #000000 solid 3px;
    background-color: #ffffff;
    border-radius: 25%;
    margin-right: 30px;
}
.icor{
    padding: 5px;
    border: #000000 solid 3px;
    background-color: #ffffff;
    border-radius: 25%;
    margin-left: 30px;
}

.ico{
    padding: 5px;
    border: #000000 solid 3px;
    background-color: #ffffff;
    border-radius: 25%;
    margin-left: 30px;
    margin-right: 30px;
}
