h1{
    color: #00ff00;
    border-bottom: #FFCC66 solid 3px;
    width:fit-content;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}
p{
    color: #ffffff;
}

h2{
    color: #00ff00;
}

.h2{
    border-bottom: 3px solid #0048ac; /* Thick orange line */
    padding-bottom: 1px;
}

body{
    background-color: #001E3D;
    margin-left: 10%;
    margin-right: 10%;
}

#MUJ{
    background-color: #ffffff;
}

#github-logo{
    background-color: #ffffff;
    border-radius: 100%;object-fit: contain;
}

#certs{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

li{
    color: #ffffff;
}

a:hover {
    color: red;
  }

a{
    color: #FFCC66;
}

a:visited {
    color: #888888
}

#mylogo{
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: #FFCC66 solid 3px;
    border-radius: 80px;
}
#oci{
    padding-top: 20px;
    padding-left: 20px;
}

#mckinsey{
    padding-top: 20px;
    padding-left: 80px;
}

#anthropic{
    padding-left: 30px;
}