body{
    background-color: #001E3D;
    margin-left: 3%;
    margin-right: 3%;
    font-family: "Georgia", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    display: flex;
}

#left{
    width: 30%;
    padding: 1%;
    text-align: justify;
    position: fixed;
}

#right{
    width: 60%;
    padding: 1%;
    margin-left: 30%;
}


#mylogo{
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: #FFCC66 solid 3px;
    border-radius: 80px;
}

h1{
    color: #00ff00;
    border-bottom: #FFCC66 solid 3px;
    width:fit-content;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 700;

}

h2{
    color: #00ff00;
    border-bottom: #FFCC66 solid 3px;
    width:fit-content;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
}

a:hover {
    color: #FFCC66;
    text-shadow: 0 0 10px #FFCC66, 0 0 20px #FFCC66, 0 0 30px #FFCC66, 0 0 40px #FFCC66;
  }

a{
    color: #FFCC66;
    text-decoration: none;
}

#snake{
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #000000;
    border-radius: 20px;
    margin-top: 10px;
    border: #FFCC66 solid 3px;
}


#connect{
    display: block;
    margin: 0 auto;
    padding: 5%;
    width: fit-content;
    margin-top: 10px;
}

#connect > a > img:hover {
    background-color: #FFE1C2;
    filter: invert(100%); 
}

.ico{
    padding: 3px;
    border: #000000 solid 3px;
    background-color: #ffffff;
    border-radius: 25%;
    text-decoration: none;
    margin: 0 1px;
}

.a{
    text-decoration: none;
}