@import url('https://fonts.googleapis.com/css2?family=Kulim+Park&display=swap');

.kulim-park-regular {
  font-family: 'Kulim Park', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ! Global */

body {
  background: #001e3d;
  margin: 0px 5%;
  font-family: 'Kulim Park', sans-serif;
  color: #cccccc;
}

h1 {
  color: #4fa62f;
  font-size: 40px;
  text-shadow:
    1px 1px 1px #000000,
    2px 2px 1px #ffcc66;
  letter-spacing: 2px;
}

.pbtn {
  width: 200px;
  background-color: #ffcc66;
  border-radius: 10px;
  box-shadow: 0px 5px 0px #b07600;
  padding: 10px 20px;
  margin: 10px 5px;
  display: inline-block;
  border: none;
  font-weight: 700;
  font-family: inherit;
}

.pbtn:hover {
  transform: translateY(3px);
  box-shadow: 0px 2px 0px #b07600;
}
